*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.container-header__menu, .container-header__menu ul, main .section-main, main .sectionUl, main .search, main .search .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header, main .section-main .__buttons,
main .section-main .__buttons2, main .sectionUl .flex-item, .section__contact, .section__contact .container__info, .section__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

body {
  margin: 0px auto;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: #eecc09;
  font-family: "Press Start 2P", cursive;
}

@media only screen and (min-width: 1280px) {
  body {
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

.container-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  padding: 0px;
}

.container-header .__img {
  max-width: 100%;
}

@media only screen and (min-width: 1280px) {
  .container-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
  }
}

.container-header__menu ul {
  padding: 0px;
}

.container-header__menu ul li {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 7px;
  height: 40px;
  padding: 0 20px;
  background-color: #0863ac;
  color: white;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  font-size: xx-small;
}

@media only screen and (min-width: 1280px) {
  .container-header__menu ul li {
    margin: 10px;
    height: 70px;
    font-size: initial;
  }
}

main .section-main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

@media only screen and (min-width: 1280px) {
  main .section-main {
    width: 400px;
  }
}

main .section-main .__buttons,
main .section-main .__buttons2 {
  padding-top: 100px;
  margin: 25px;
}

main .section-main .__buttons button,
main .section-main .__buttons2 button {
  height: 30px;
  color: white;
  background-color: darkgray;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: x-small;
}

@media only screen and (min-width: 1280px) {
  main .section-main .__buttons button,
  main .section-main .__buttons2 button {
    font-size: small;
  }
}

main .section-main .__buttons .pokeball,
main .section-main .__buttons2 .pokeball {
  max-width: 20%;
  margin: 10px;
  position: absolute;
  padding-top: 300px;
  -webkit-animation: rebota;
          animation: rebota;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rebota {
  0% {
    top: 20px;
  }
  10% {
    top: 10px;
  }
  100% {
    top: 5px;
    @media only screen and (min-width: 1280px) {
      padding-top: 450px;
    }
  }
}

@keyframes rebota {
  0% {
    top: 20px;
  }
  10% {
    top: 10px;
  }
  100% {
    top: 5px;
    @media only screen and (min-width: 1280px) {
      padding-top: 450px;
    }
  }
}

main .sectionUl {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1280px) {
  main .sectionUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .sectionUl .sectionUl__pokeUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 17px;
    padding: 0px;
  }
}

main .sectionUl .flex-item {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0863ac;
  border: 2px white;
  border-radius: 15px;
  border-style: dashed;
  color: white;
  margin: 5px;
  padding: 0px;
  width: 300px;
  height: 260px;
  font-size: small;
}

main .search {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

main .search .search-form .pokeFinder {
  height: 20px;
  color: white;
  background-color: darkgray;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: x-small;
  margin: 10px;
}

@media only screen and (min-width: 1280px) {
  main .search .search-form .pokeFinder {
    font-size: small;
    margin: 20px;
  }
}

.section__contact {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #a8558d;
  border: solid 6px #af167c;
  border-radius: 7px;
  margin: 15px;
}

.section__contact h2 {
  text-align: center;
}

.section__contact .container__img {
  max-width: 100%;
}

.section__contact .container__info {
  padding: 20px;
}

.section__contact .container__enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.section__contact .container__enlaces__item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.section__contact .container__enlaces__item__img {
  height: 60px;
}

.section__about {
  background-color: #a8d50e;
  border: solid 6px #80c05f;
  border-radius: 7px;
  margin: 15px;
  padding: 20px;
  font-size: small;
  height: 100%;
}

.section__about h2 {
  text-align: center;
}

.section__about .ul, .section__about li {
  list-style: none;
}

.footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px;
  height: 40px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: x-small;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */