*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
// SCSS Variables
$layout_bp_tablet: 800px;
$layout_bp_desktop: 1280px;

// SCSS Mixins
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}
///herencia//
%flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%colum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//------------------------styles--------------------------//

.hidden {
  display: none;
}

body {
  margin: 0px auto;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(238, 204, 9);
  font-family: "Press Start 2P", cursive;

  @include desktop {
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
.container-header {
  @extend %colum;
  justify-content: center;
  margin: 0px auto;
  padding: 0px;

  .__img {
    max-width: 100%;
  }

  &__menu {
    @extend %flex;

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
     
    }

    ul {
      @extend %flex;
      padding: 0px;

      li {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        margin: 5px;
        border-radius: 7px;
        height: 40px;
        padding: 0 20px;
        background-color: #0863ac;
        color: white;
        text-align: center;
        line-height: 20px;
        text-transform: uppercase;
        transition: 300ms all;
        font-size: xx-small;

        @include desktop {
          //no me coje el desktop
          margin: 10px;
          height: 70px;
          font-size: initial;
        }
      }
    }
  }
}
//-------------------------------main-----------------------------
main {
  .section-main {
    @extend %flex;
    justify-content: center;
    padding: 10px;

    @include desktop {
      //no lo coje
      width: 400px;
    }

    .__buttons,
    .__buttons2 {
      @extend %colum;
      padding-top: 100px;
      margin: 25px;
      

      button{
        height: 30px;
        color: white;
        background-color:darkgray;
        border-radius: 5px;
        font-family: "Press Start 2P", cursive;
        font-size: x-small;
       

      @include desktop{
        font-size: small;  
      }
    }
       

      .pokeball {
        max-width: 20%;
        margin: 10px;
        position: absolute;
        padding-top: 300px;
        animation: rebota;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        @keyframes rebota {
          0% {
            top: 20px;
          }
          10% {
            top: 10px;
          }
          100% {
            top: 5px;

            @include desktop {
              padding-top: 450px;
            }
          }
        }
      }
    }
  }

  .sectionUl {
    @extend %flex;
    flex-wrap: wrap;
    justify-content: center;

    @include desktop {
      display: flex;
      flex-wrap: wrap;

      .sectionUl__pokeUl {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 17px;
        padding: 0px;
      }
    }
     // no me coje los estilos,cierro aqui porque si cierro mas abajo no vuelve a home

          .flex-item {
          @extend %colum;
          list-style: none;
          justify-content: center;
          background-color: #0863ac;
          border: 2px white;
          border-radius: 15px;
          border-style: dashed;
          color: white;
          margin: 5px;
          padding: 0px;
          width: 300px;
          height: 260px;
         font-size: small;
          }
        }

    
  .search {
    @extend %flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;

    .search-form {
      @extend %flex;

      .pokeFinder {
        height: 20px;
        color: white;
        background-color:darkgray;
        border-radius: 5px;
        font-family: "Press Start 2P", cursive;
        font-size: x-small;
        margin: 10px;

        @include desktop {
          font-size: small;
          margin: 20px;
        }
      }
    }
  }
}
.section__contact{
  @extend %colum;
  justify-content: space-around;
  background-color: rgb(168, 85, 141);;
  border: solid 6px rgb(175, 22, 124);
  border-radius: 7px;
  margin: 15px;

     h2{text-align: center;}
  
    
    .container__img{
    max-width: 100%;
  }

   .container__info{
     @extend %colum;
     padding: 20px;
      

   }

    .container__enlaces {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;

      &__item {
        color: white;
        display: flex;
        padding-left: 20px;

        &__img {
          height: 60px;
        }
      }
    }
  }

  .section__about{
    @extend %colum;
    background-color: #a8d50e;
    border: solid 6px #80c05f;
    border-radius: 7px;
    margin: 15px;
    padding: 20px;
    font-size:small;
    height: 100%;   
    
    h2{
      text-align: center;}

    .ul,li{list-style: none;}

    }
  .footerInfo  {
     display: flex;
     flex-direction: row;  
     margin: 20px;
     height: 40px;
     align-items: baseline;
     font-size: x-small;
     width: 100%;

  }

// //problemas : 
// -random pokemon no desplega suficiente altura
// -include desktop no me funciona segun que secciones
// -buscador no funciona
//botones no about y contact me no funcionan.
